.logincontainer {
  background: #fff;
  max-width: 1050px;
  width: 100%;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.logincontainer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content.image-box {
  height: 200px;
  max-width: 55%;
}
.content .image-box img {
  height: 100%;
  width: 100%;
}
.content form {
  width: 40%;
  margin-right: 30px;
}
.content .header {
  font-size: 22px;
  font-weight: 500;
  color: #05c3dd;
}

.wrapper {
  position: relative;
  /* max-width: 450px; */
  /* width: 100%; */
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
}
.wrapper p {
  font-size: 18px;
  margin-left: 20px;
}
.wrapper .header {
  text-transform: uppercase;
  font-size: 35px;
  margin-left: 20px;
  font-weight: 600;
  color: #333;
}
.wrapper .header span {
  color: #05c3dd;
}

.wrapper .input-box {
  position: relative;
  height: 50px;
  margin: 25px;
}

.input-box input {
  position: absolute;
  font-size: 17px;
  height: 100%;
  width: 95%;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding-left: 15px;
  transition: all 0.2s linear;
}
.input-box .btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
}
.input-box .btn a {
  color: #fff;
  text-decoration: none;
}
.input-box p {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.input-box p a {
  color: #04a0d6;
}

input:is(:focus, :valid) {
  border-color: #05c3dd;
}

.input-box :is(label, i) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: all 0.2s linear;
}

.input-box label {
  left: 15px;
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
}

input:is(:focus, :valid) ~ label {
  color: #05c3dd;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
}

.input-box i {
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

input:is(:focus, :valid) ~ i {
  color: #05c3dd;
}
.input-box .btn {
  background-color: #05c3dd;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-top: 5px;
  cursor: pointer;
}
.input-box .btn:hover {
  background-color: #04a0d6;
}
